* {
  /* border: 1px solid gold; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ivory: #c0cac7;
  --slate: #626D71;
  --ceramic: #CDCDC0;
  --latte: #DDBC95;
  --coffee: #B38867;
  --dark: #0e1111;
}

/*=============================================================================
  Media Queries
  https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
  https://responsivedesign.is/articles/why-you-dont-need-device-specific-breakpoints/
=============================================================================*/

@media only screen and (max-width: 1200px) {
  .header-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .hook {
    width: 100%;
  }
}


@media only screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

/*=============================================================================
  Beacause I set the default font size to 20px I can now use percentages to increase and decrease font size based on that.
  Text-rendering is new to me, it appears to communicate priority to the browser
=============================================================================*/


html {
  background-color: var(--cafe-blanco);
  color: var(--dark);
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/*=============================================================================
  Beacause the header background-image is not a sub-directory of css it needs a reference to the root folder or it wont show up
=============================================================================*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/front_page.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section {
  padding: 80px 0;
}

.field {
  padding: 1%;
}

/*=============================================================================
  Had to use the transform: translate and halve the top and left as 50% was pushing it all the way over instead of where I wanted.
=============================================================================*/

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.section-text-box {
  height: 100vh;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1, h2, h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
  letter-spacing: .5px;
}

h2 {
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: .5px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

hr {
  display: block;
  height: 2px;
  background-color: var(--coffee);
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  color: #fff;
  border: 1px solid var(--coffee);
  border-radius: 150px;
  padding: 6px;
  font-size: 90%;
  font-weight: 500i;
  font-style: italic;
  margin-top: 5px;
}

.field {
  margin-top: 20px;
  font-size: 90%;
  line-height: 130%;
}

.icon-size {
  font-size: 300%;
  display: block;
  color: var(--coffee);
  margin-bottom: 10px;
}

.hook {
  line-height: 130%;
  width: 70%;
  margin: 0 15%;
  text-align: center;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 40px
}

.header-nav li, .tab-list li {
  margin-left: 14px;
}

.header-nav li a:link, .header-nav li a:visited,
.tab-list li a:link, .tab-list li a:visited,
.top-recipe:link, .top-recipe:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
  padding: 6px 0;
}

.header-nav li a:hover, .header-nav li a:active,
.tab-list li a:hover, .tab-list li a:active,
.top-recipes:hover, .top-recipes:active  {
  border-bottom: 1px solid var(--coffee);
}

.top-recipes:link, .top-recipes:visited {
  color: var(--dark)
}

/*=============================================================================
  Used the link selector to set the default btn appearance to be the same as a visited, this get's rid of that ugly purple.
  You can apply transitions to multiple styles.
  The hover and active selectors can be applied to show an effect such as a color change, this is why I added a transistion so it wasn't as jarring
  https://www.w3schools.com/w3css/w3css_buttons.asp
  https://www.webfx.com/blog/web-design/ghost-buttons/
=============================================================================*/

.btn:link, .btn:visited {
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 150px;
  border: 1px solid var(--coffee);
  transition: background-color 0.2s, border 0.2s;
  margin-right: 15px;
}

.btn-filled:link, .btn-filled:visited {
  background-color: var(--coffee);
}


.btn:hover, .btn:active {
  background-color: var(--dark);
  border: 1px solid var(--dark);
}

/*=============================================================================
  This is my tab panel
  Used Javascript & JQuery by Jon Duckett as resource
=============================================================================*/

.section-tabs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/food_img1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.tab-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-panel {
  display: none;
  margin-top: 40px;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 400;
}

.tab-panel.active {
  display: block;
}

#card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color: var(--dark)
}

#recipe-card {
  background-color: #fff;
  border-radius: 20px;
  width: 80%;
  padding: 20px 0;
}

#recipe-card hr {
  margin: 8px 0;
  margin-left: 20px;
}

.food-search {
  margin-bottom: 20px;
  margin: 20px;
  text-align: left;
}

.food-description {
  margin: 16px 20px;
  text-align: left;
  list-style: none;
}

.search-box {
  border-radius: 6px;
  padding: 3px 2px;
}

.item-container{
  margin: 6px 0;
  padding: 6px 0;
}

.returnItems {
  list-style: none;
}

.top-recipes {
  text-decoration: none;
  padding: 6px 0;
  margin: 6px 0;
  font-size: 70%;
  font-weight: 700;
}

footer {
  background-color: var(--dark);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-list {
  list-style: none;
  color: #fff;
}
