* {
  border: 1px solid gold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ivory: #c0cac7;
  --slate: #626D71;
  --ceramic: #CDCDC0;
  --latte: #DDBC95;
  --coffee: #B38867;
  --dark: #0e1111;
}

html {
  background-color: var(--cafe-blanco);
  color: var(--dark);
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: url(img/front_page.jpg);
  height: 100vh;
}
