* {
  border: 1px solid gold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ivory: #c0cac7;
  --slate: #626D71;
  --ceramic: #CDCDC0;
  --latte: #DDBC95;
  --coffee: #B38867;
  --dark: #0e1111;
}

/*==============================================================================
  Beacause I set the default font size to 20px I can now use percentages to increase and decrease font size based on that.
  Text-rendering is new to me, it appears to communicate priority to the browser
==============================================================================*/


html {
  background-color: var(--cafe-blanco);
  color: var(--dark);
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/*==============================================================================
  Beacause the header background-image is not a sub-directory of css it needs a reference to the root folder or it wont show up
==============================================================================*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/front_page.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*==============================================================================
  Had to use the transform: translate and halve the top and left as 50% was pushing it all the way over instead of where I wanted.
==============================================================================*/

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .5px;
  word-spacing: 4px;
}

/*==============================================================================
  Used the link selector to set the default btn appearance to be the same as a visited, this get's rid of that ugly purple.
  You can apply transitions to multiple styles.
  The hover and active selectors can be applied to show an effect such as a color change, this is why I added a transistion so it wasn't as jarring
  https://www.w3schools.com/w3css/w3css_buttons.asp
  https://www.webfx.com/blog/web-design/ghost-buttons/
==============================================================================*/

.btn:link, .btn:visited {
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 150px;
  border: 1px solid var(--coffee);
  transition: background-color 0.2s, border 0.2s;
  margin-right: 15px;
}

.btn-filled:link, .btn-filled:visited {
  background-color: var(--coffee);
}


.btn:hover, .btn:active {
  background-color: var(--dark);
  border: 1px solid var(--dark);
}
